extends ./layout.jade
block contenido
	form(action="/users" methd="POST")
		div(class="form-group")
			label(for="email") Email
				input(type="text" id="email" placeholder="Email" class="form-control")
		div(class="form-group")
			label(for="password") Password
				input(type="password" id="password" placeholder="Password" class="form-control")
