//Es como los headers de php
doctype html
html(lang="es")
	head
		title Example
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/app.css" rel="stylesheet")
		//Librería necesaria para que el cliente se conecte en tiempo real con el servidor
		script(src="/js/socket.js")
		script(src="/js/handlebars.js")
	body
		nav(class="large-padding black white-text")
			ul
				li 
					a(href="/app") Inicio
				li 
					a(href="/app/imagenes/new") Subir imagen
				li 
					a(href="/app/imagenes") Mis imágenes
		block contenido